doctype html
head
  link(href='../static/css/Re_home.css' rel='stylesheet' type='text/css')
  link(href='../static/css/swiper.css' rel='stylesheet'  type='text/css')
  link(href='../static/css/Re_rooms.css' rel='stylesheet'  type='text/css')
  script(src='../static/js/Receptionisthomeswiper.js')
  link(href='https://fonts.googleapis.com/css?family=Gilda Display' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap' rel='stylesheet')
  meta(name='viewport' content='width=device-width, initial-scale=1') 
body(onload='initClock()')
  
  
  div
    ul
      li
        h1.heading GRAND HOTEL
      li(style='float:right')
        .datetime
          .date
            span#dayname Day
            |, 
            span#month Month
            |, 
            span#daynum 00
            | 
            span#year Year
          .time
            span#hour 00
            |  :
            span#minutes 00
            |  :
            span#seconds 00
            span#period AM
  nav.tm-nav
    #navbar.tm
      ul
        li.tm-list 
          a(href='Re_home') Home
        li.tm-list
          a(href='Re_rooms') Rooms
        li.tm-list
          a(href='Re_employee_registration') Register Employees
        li.tm-list
          a(href='Re_contact_employees') Contact Staff
        li.tm-list
          a(href='Re_account') Account

  a(href='#id01')
    #card.card(onclick="document.getElementById('id01').style.display='block'")
      .image
        img(src='../static/Rooms_8.jpg')
      .card-text Standard Room
      .price-text
        p 1-2 Occupancy
        p &#x20B9;3200
  a(href='#id01')
    #card.card(onclick="document.getElementById('id01').style.display='block'")
      .image
        img(src='../static/Rooms_4.jpg')
      .card-text Elite Room
      .price-text
        p 1-2 Occupancy
        p &#x20B9;3999
  a(href='#id01')
    #card.card(onclick="document.getElementById('id01').style.display='block'")
      .image
        img(src='../static/Rooms_1.jpg')
      .card-text Deluxe Room
      .price-text
        p 1-3 Occupancy
        p &#x20B9;4500
  a(href='#id01')
    #card.card(onclick="document.getElementById('id01').style.display='block'")
      .image
        img(src='../static/Rooms_2.jpg')
      .card-text Standard Double
      .price-text
        p 1-4 Occupancy
        p &#x20B9;4000
  a(href='#id01')
    #card.card(onclick="document.getElementById('id01').style.display='block'")
      .image
        img(src='../static/Rooms_3.jpg')
      .card-text Elite Double
      .price-text
        p 1-4 Occupancy
        p &#x20B9;6500
  a(href='#id01')
    #card.card(onclick="document.getElementById('id01').style.display='block'")
      .image
        img(src='../static/Rooms_7.jpg')
      .card-text Deluxe Double
      .price-text
        p 1-4 Occupancy
        p &#x20B9;7500
  a(href='#id01')
    #card.card(onclick="document.getElementById('id01').style.display='block'")
      .image
        img(src='../static/Rooms_6.jpg')
      .card-text Executive Suite
      .price-text
        p 1-2 Occupancy
        p &#x20B9;8200
  a(href='#id01')
    #card.card(onclick="document.getElementById('id01').style.display='block'")
      .image
        img(src='../static/Rooms_5.jpg')
      .card-text Medieval Suite
      .price-text
        p 1-2 Occupancy
        p &#x20B9;10000



  #id01(style='display: none')
    .container
      form(action='send_guest_data' method='post')
        h1.formheading
        h1.formheading Room Booking  
        hr
        label(for='number_room') Number of Rooms
        input#number_room(type='number' placeholder='Number of Rooms' name='number_room' required='required')
        label(for='room_number') Room Number
        input#room_number(type='text' placeholder='Room Number' name='room_number' required='required')
        label(for='fname') First Name
        input#guest_fname(type='text' placeholder='First name' name='fname' required='required')
        br
        label(for='lname') Last Name
        input#guest_lname(type='text' placeholder='Last Name' name='lname' required='required')
        br
        label(for='address') Address
        input#guest_address(type='text' name='address' placeholder='Address' required='required')
        br
        label(for='phonenumber') Phone Number
        input#guest_phone_number(type='text' placeholder='Phone Number' name='phonenumber' required='required')
        br
        label(for='email') E-mail
        input#guest_email(type='text' placeholder='Email' name='email' required='required')
        br
        label(for='Checkin') Check In:
        input#checkin(type='date' name='checkin')
        br
        label(for='Checkout') Check Out:
        input#checkout(type='date' name='checkout')
        br
        label(for='password') Password
        input#guest_password(type='password' placeholder='Enter Password' name='password' required='required')
        br
        label(for='password-repeat') Confirm Password
        input#guest_cfn_password(type='password' placeholder='Repeat Password' name='password-repeat' onkeyup='check();' required='required')
        br
        #message.alert
          span.closebutton(onclick="this.parentElement.style.display='none';") &times;
          strong Warning!
          |  Your Password doesn&apos;t match the Previous Password
        hr
        button.registerbtn(type='submit') Book


script.
  function updateClock(){
  var now = new Date();
  var dname = now.getDay(),
  mo = now.getMonth(),
  dnum = now.getDate(),
  yr = now.getFullYear(),
  hou = now.getHours(),
  min = now.getMinutes(),
  sec = now.getSeconds(),
  pe = "AM";
  if(hou >= 12){
  pe = "PM";
  }
  if(hou == 0){
  hou = 12;
  }
  if(hou > 12){
  hou = hou - 12;
  }
  Number.prototype.pad = function(digits){
  for(var n = this.toString(); n.length < digits; n = 0 + n);
  return n;
  }
  var months = ["January", "February", "March", "April", "May", "June", "July", "Augest", "September", "October", "November", "December"];
  var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  var ids = ["dayname", "month", "daynum", "year", "hour", "minutes", "seconds", "period"];
  var values = [week[dname], months[mo], dnum.pad(2), yr, hou.pad(2), min.pad(2), sec.pad(2), pe];
  for(var i = 0; i < ids.length; i++)
  document.getElementById(ids[i]).firstChild.nodeValue = values[i];
  }
  function initClock(){
  updateClock();
  window.setInterval("updateClock()", 1);
  }
  window.onscroll = function() {myFunction()};
  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;
  function myFunction() {
  if (window.pageYOffset >= sticky) {
  navbar.classList.add("sticky")
  } else {
  navbar.classList.remove("sticky");
  }
  }
